{% extends 'base.html' %}
{% load static %}

{%block head%}
  <title>Documents</title>
{%endblock%}

{%block content%}

  <div class="content-wrapper">
    <!-- 글 목록 -->
    <form method="get" action="">
      <label for="sort_by">정렬 기준 : &nbsp;</label>
      <select name="sort_by" id="sort_by">
          <option value="title" {% if request.GET.sort_by == 'title' %}selected{% endif %}>이름순</option>
          {% comment %} <option value="newest" {% if request.GET.sort_by == 'newest' %}selected{% endif %}>최신순</option>
          <option value="written" {% if request.GET.sort_by == 'written' %}selected{% endif %}>등록순</option> {% endcomment %}
          <option value="interest" {% if request.GET.sort_by == 'interest' %}selected{% endif %}>관심도순</option>
      </select>
      <input type="submit" value="적용">
    </form>
    {% for post in posts%}
    <div class="item">
      {% if post.photo.url != null and post.photo.url != ''%}
      <img src="{{post.photo.url}}" alt="대체텍스트"> 
      {%else %}
      <img src="{% static 'posts/image/no_img.png'%}" alt="이미지가 없습니다"> 
      {%endif%}
      <div class="info">
        <a href="{% url 'posts:detail' post.pk %}" class="title">
          {{post.title}}
        </a>
        <p class="region">예상 개발 툴 : </p>
        <p class="price">아이디어 관심도 : {{post.interest}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{%endblock%}
