@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
body {
    font-family: 'Black Han Sans', sans-serif;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./wrtFileImageView.jpg");
    background-size: cover;
    color: palevioletred;
}
.content {
    width: 80%;
    height: 30%;
    display: flex;
    gap: 1rem;
}
.content > div {
    padding: 1rem;
}
.left {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.left > h3 {
    font-size: 2rem;
}
.box {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
}
.box h2 {
    font-size: 3rem;
}
.countdown {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.right {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.right > h3 {
    font-size: 2rem;
}
.right > ul > li {
    margin-bottom: 1rem;
    font-size: 1rem;
    list-style: none;
    text-decoration: wavy underline;
    text-underline-offset: 0.5rem;
}
.indent {
    text-indent: 1rem;
}