{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="detail_wrap">
      <div class="detail_div">
          <h1>{{devtool.name}}</h1>
          <p>{{devtool.kind}}</p>
          <p>{{devtool.dev_content}}</p>
      </div>
      <hr>
      <div class="sw"> 만들 수 있는 sw 목록</div>
      {% for rel_post in related_posts %}
      <a href="{% url 'posts:detail' rel_post.pk %}" class="btn btn-success">
        {{rel_post.title}}
      </a>
      {%endfor%}
      <form action="{% url 'devtools:delete' devtool.pk%}" method="POST">
        {%csrf_token%}
        <button type="submit" class="btn btn-danger">삭제</button>
        <a href="{% url 'devtools:list'%}" class="btn btn-primary">목록</a>
        <a href="{% url 'devtools:update' devtool.pk %}" class="btn btn-primary">수정</a>
      </form>
      
  </div>
{% endblock content %}

