<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Movie reviews</title>
    </head>
    <body>
        <h1>
            리뷰 작성하기
        </h1>

        <form action="/review/create" method="post">
            {% csrf_token %}
            제목:<input name="title" />
            <br/>
            개봉년도:<input name="year" />
            <br/>
            장르:<input name="genre" />
            <br/>
            별점:<input name="rating" />
            <br/>
            러닝타임:<input name="time" />
            <br/>
            리뷰:<br><textarea name="review" cols="30" rows="10"></textarea>
            <br/>
            감독:<input name="director" />
            <br/>
            배우:<input name="actor" />
            <br/>
            <div>
                <input type="submit" value="save">
            </div>
        </form>
    </body>
</html>