{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%block head%}


  {% endblock %}
</head>
<body>
  <header>
    <a href="/"><p>My SW Idea Manage</p></a>
    <a href="{% url 'posts:create' %}"><p>아이디어 등록</p></a>
    <a href="/"><p>아이디어 관리</p></a>
    <a href="/"><p>개발툴 등록</p></a>
    <a href="/"><p>개발툴 관리</p></a>
  </header>
  <hr>
  <main>
  {%block content%}
      
    
  {%endblock%}
  </main>
</body>
</html>